<section>
  <a id="contact"></a>
  <h2>Contact</h2>
  <div class="chapter-container">
    <form action="https://getform.io/f/04a6c0cb-7784-409c-bf97-9a409be80488" method="POST">
      <label for="form-name">Name</label>
      <input type="text" id="form-name" name="name" placeholder="Your name ...">

      <label for="form-email">E-Mail</label>
      <input type="text" id="form-email" name="email" placeholder="Your e-mail address ...">

      <label for="form-message">Message</label>
      <textarea id="form-message" name="message" placeholder="Your message ..."></textarea>

      <input type="submit" value="Submit">
    </form>
  </div>
</section>
