<section>
  <h2><a id="projects"></a>Projects</h2>
  {% for item in site.data.projects %}
    <div class="chapter-container">
      <div class="chapter-header">
        <h3><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></h3>
        <a class="github" href="{{ item.github }}"><i class="fa fa-github"></i></a>
      </div>
      <div class="project-body">
        <p>{{ item.description }}</p>
        <div class=technologies-container>
        {% for tech in item.technologies %}
          <span class="badge">{{ tech }}</span>
        {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
