<section>
  <a id="work_experience"></a>
  <h2>Work experience</h2>
  {% for item in site.data.work_experience reversed %}
    <div class="chapter-container">
      <div class="chapter-header">
        <h3><a href="{{ item.url }}" target="_blank">{{ item.employer }}</a></h3>
      </div>
      <div class="chapter-body">
        <p>
          as {{ item.position }}<br />
          from {{ item.from }} to {{ item.to }}<br />
          {{ item.description }}
        </p>
        <div class=technologies-container>
        {% for tech in item.technologies %}
          <span class="badge">{{ tech }}</span>
        {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
