<section>
  <a id="work_experience"></a>
  <h2>Work experience</h2>
  <div class="section-container">
    {% for item in site.data.work_experience reversed %}
      <div class="chapter-container">
        <div class="chapter-header">
          <h3><a href="{{ item.url }}" target="_blank">{{ item.employer }}</a></h3>
        </div>
        <div class="chapter-body">
          <p>
            <span class="chapter-body-title">About the company:</span> {{ item.description }}<br />
            <span class="chapter-body-title">Position:</span> {{ item.position }}<br />
            <span class="chapter-body-title">Time:</span> {{ item.from }} to {{ item.to }}<br />
            <span class="chapter-body-title">Activities:</span> {{ item.activities }}
          </p>
          <div class=technologies-container>
          {% for tech in item.technologies %}
            <span class="badge">{{ tech }}</span>
          {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
