body {
  background-color: $color-background;
  margin: 0;
}

h2 {
  margin: 4rem 0 0 0;
  position: sticky;
  top: 3rem;
  background-color: $color-background;
  border-bottom: 3px solid;
  padding: 0 0 0.5rem 0.5rem;
}

section {
  padding: 0 1rem 0 1rem;
}

.container {
  max-width: 95vh;
  margin: 0 auto;
}

.badge {
  background-color: $color-primary;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.badge:hover {
  background-color: $color-accent;
}

.github {
  align-items: center;
}

.section-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/* on large screens, display grid in two columns */
@media screen and (min-width: 768px) {
  .section-container {
    grid-template-columns: 1fr 1fr;
  }
}

.chapter-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.chapter-container h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.chapter-header {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
}

.chapter-header * {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.chapter-header * a {
  padding: 0.5rem;
}

.chapter-body {
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

nav {
  background-color: $color-primary;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 3rem;

  a {
    text-align: center;
    padding: 0.5rem;
    flex: 1;
  }

  a:hover {
    background-color: $color-background;
  }
}

header {
  background-color: $color-primary;
  padding: 1rem; 
  margin-bottom: 2rem;
}

footer {
  margin-top: 4rem;
  text-align: center;
  background-color: $color-primary;
  padding: 4rem 0; 
}

.footer-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid $color-primary;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: $color-primary;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $color-accent;
}

textarea {
  height: 10rem;
}
