body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.75;
  background-color: linen;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin: 4rem 0 0 0;
  font-weight: bold;
  position: sticky;
  top: 3rem;
  background-color: linen;
  border-bottom: 3px solid;
  padding: 0 0 0.5rem 0.5rem;
}

p {
  margin: 0 0;
}

.container {
  max-width: 95vh;
  margin: 0 auto;
}

.badge {
  color: white;
  background-color: black;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  line-height: 2.5;
  font-size: 0.9rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  transition: 0.25s ease;
}

.badge:hover {
  background-color: #860000;
}

.github {
  font-size: 1.5rem;
  align-items: center;
}

.chapter-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.chapter-container h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.chapter-header {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
}

.chapter-header * {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.chapter-header * a {
  transition: 0.25s ease;
  padding: 0.5rem;
}

.chapter-header * a:hover {
  background-color: black;
  color: white;
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.work-experience-body {
}

nav {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 3rem;
}

nav a {
  text-align: center;
  transition: 0.25s ease;
  padding: 0.5rem;
  flex: 1;
}

nav a:hover {
  color: black;
  background-color: linen;
}

header {
  background-color: black;
  color: white;
  padding: 1rem; 
  margin-bottom: 2rem;
}

footer {
  margin-top: 4rem;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4rem 0; 
}

.footer-links {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

input {
  font: inherit;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #860000;
}

textarea {
  height: 10rem;
  font: inherit;
}

