body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-top: 3rem;
  font-weight: bold;
}

p {
  margin: 0 0;
}

.container {
  max-width: 70vh;
  margin: 0 auto;
}

.badge {
  color: white;
  background-color: black;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  line-height: 2.5;
  font-size: 0.9rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  transition: 0.5s ease;
}

.badge:hover {
  background-color: #860000;
}

.github {
  font-size: 1.5rem;
}

.project-container {
  margin-top: 3rem;
}

.chapter-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.chapter-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.chapter-header h3 a {
  transition: 0.5s ease;
}

.chapter-header h3 a:hover {
  background-color: black;
  color: white;
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.work-experience-container {
  margin-top: 3rem;
}

.work-experience-container h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.work-experience-body {
}

nav {
  background: black;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
}

nav a {
  text-align: center;
  transition: 0.5s ease;
  padding: 0.5rem;
  flex: 1;
}

nav a:hover {
  color: black;
  background-color: white;
}

header {
  background: black;
  color: white;
  padding: 1rem; 
  margin-bottom: 2rem;
}

footer {
  margin-top: 4rem;
  text-align: center;
  background: black;
  color: white;
  padding: 4rem 0; 
}

.footer-links {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
